<div class="card-deck" id="blog-container">
    {% for blog in blog_list %}
    <div class="card" style="width: 18rem; margin-right: 20px;">
        <img class="card-img-top" src="{{ url_for('static', filename='image/' + blog['image']) }}"

             alt="{{ blog['title'] }}" height="170px" width="291.44px">
        <div class="card-body">
            <h5 class="card-title">{{ blog['title'] }}</h5>
            <p class="card-text">{{ blog['content'] }}</p>
            <a href="{{ url_for('viewblog', id=blog['id']) }}" class="btn btn-primary">View More</a>
        </div>
    </div>
    {% endfor %}
</div>
