<section id="header">
        <a href="/" id="titlelogo">MonsterBob</a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">About</a></li>
                <li><a href="createblog" class="active">Forum</a></li>
                <li><a href="Blog.html">Finding Your Contractor</a></li>
                <li><a href="About.html">Smart Home Planning</a></li>
                <li><a href="retrieveCustomers">Show Customers</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="createCustomer">Sign</a></li>
                <li><a href="createStaff">Create Staff</a></li>
            </ul>
        </div>
</section>