<section id="header">
    <a href="{{ url_for('home') }}" id="titlelogo">MonsterBob</a>
    <div>
        <ul id="navbar">
            {% if 'email' in session %}
            {% if session['user_type'] == 'customer' %}
            <!-- Customer specific links -->
            <li><a href="{{ url_for('about') }}" class="{{ 'active' if request.endpoint == 'about' else '' }}">View
                Forum</a></li>
            <li><a href="{{ url_for('create_Project2') }}"
                   class="{{ 'active' if request.endpoint == 'create_Project2' else '' }}">Create Project</a></li>
            <li><a href="{{ url_for('UploadImage') }}"
                   class="{{ 'active' if request.endpoint == 'UploadImage' else '' }}">Forum</a></li>
            <li><a href="{{ url_for('retrieveProject') }}"
                   class="{{ 'active' if request.endpoint == 'retrieveProject' else '' }}">View project</a></li>
            <li><a href="{{ url_for('retrieveCustomers', email=session['email']) }}"
                   class="{{ 'active' if request.endpoint == 'retrieveCustomers' else '' }}">View Profile</a></li>
            {% elif session['user_type'] == 'staff' %}
            <!-- Staff specific links -->
            <li><a href="{{ url_for('manageProject') }}" class="{{ 'active' if request.endpoint == 'manageProject' else '' }}">Manage Projects</a></li>
            <li><a href="{{ url_for('staff_reply') }}" class="{{ 'active' if request.endpoint == 'staff_reply' else '' }}">Manage chat</a></li>
            {% if session['role'] =='Manager'%}
            <li><a href="{{ url_for('managestaff') }}"
                   class="{{ 'active' if request.endpoint == 'managestaff' else '' }}">Manage Staff</a></li>
            <li><a href="{{ url_for('create_staff') }}"
                   class="{{ 'active' if request.endpoint == 'create_staff' else '' }}">Create Staff</a></li>
            {% endif %}
            <li><a href="{{ url_for('retrieveStaff', email=session['email']) }}"
                   class="{{ 'active' if request.endpoint == 'retrieveStaff' else '' }}">View Profile</a></li>
            {% endif %}
            <!-- Common logout link for both customer and staff -->
            <li><a href="{{ url_for('logout') }}"
                   class="{{ 'active' if request.endpoint == 'logout' else '' }}">Logout</a></li>
            {% else %}
            <!-- Link for users who are not logged in -->
            <li><a href="{{ url_for('login') }}" class="{{ 'active' if request.endpoint == 'login' else '' }}">Login/Signup</a>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
