{% extends "base.html" %}
{% block additional_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block title %}MonsterBob - Home{% endblock %}

{% block content %}
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search for blog posts...">
</div>
<div id="searchResults">
</div>
<div class="card-deck" id="blog-container">
    {% include 'partials/blog_list.html' %}
</div>

<div class="pagination-container airbnb-pagination">
    {% for i in range(1, total_pages + 1) %}
    {% if i == current_page %}
    <span class="current-page airbnb-current-page"><strong>{{ i }}</strong></span>
    {% else %}
    <a href="javascript:void(0);" onclick="loadPage({{ i }})" class="airbnb-pagination-link">{{ i }}</a>
    {% endif %}
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
function searchFunction(event) {
    if (event.key === "Enter") {
        performSearch();
    }
}

function performSearch() {
    let input = document.getElementById('searchInput').value.trim();
    fetchPageData(input, 1);
}

function fetchPageData(searchQuery, pageNumber) {
    let url = /about?page=${pageNumber};
    if (searchQuery) {
        url += &search=${encodeURIComponent(searchQuery)};
    }

    $.ajax({
        url: url,
        type: 'GET',
        success: function(response) {
            document.getElementById('blog-container').innerHTML = response.html;
            updatePagination(response.totalPages, pageNumber, searchQuery);
        },
        error: function(error) {
            console.error("Error fetching data:", error);
        }
    });
}

function updatePagination(totalPages, currentPage, searchQuery) {
    const paginationContainer = document.querySelector('.pagination-container');
    let newPaginationHTML = '';

    for (let i = 1; i <= totalPages; i++) {
        const pageFunction = searchQuery ?
            fetchPageData('${searchQuery}', ${i}) :
            fetchPageData('', ${i});

        if (i === currentPage) {
            newPaginationHTML += <span class="current-page"><strong>${i}</strong></span>;
        } else {
            newPaginationHTML += <a href="javascript:void(0);" onclick="${pageFunction}">${i}</a>;
        }
    }

    paginationContainer.innerHTML = newPaginationHTML;
}

document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('keyup', searchFunction);
    if (searchInput.value.trim() === '') {
        // Load the first page if there is no search query when the page loads
        fetchPageData('', 1);
    }
});



</script>

{% endblock %}