<div class="carousel-item active">
    <div class="card-group">
        <div class="card" style="width: 18rem; margin-right: 20px;">
            <img class="card-img-top" src="{{ blog.get_blog_image() }}" alt="Card image cap" height="170px" width="291.44px">
            <div class="card-body">
                <h5 class="card-title">{{ blog.get_name() }}</h5>
                <p class="card-text">{{ blog.get_comment() }}</p>
                <a href="#" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
</div>
