{% extends "base.html" %}
{% block title %} MonsterBob - Create Account{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<div class="google-form-container">
    <h3 class="google-title">Sign Up</h3>
    <div class="google-form-box">
        <form method="POST" action="/signup">
            <div class="google-field">
                {{render_field(form.name, class="google-input")}}
            </div>
            <div class="google-field">
                {{render_field(form.phonenumber, class="google-input")}}
            </div>
            <div class="google-field">
                {{render_field(form.email, class="google-input")}}
            </div>
            <div class="google-field">
                {{render_field(form.address, class="google-input")}}
            </div>
            <div class="google-field">
                {{render_field(form.password, class="google-input")}}
            </div>

            <button type="submit" class="google-submit-btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}