{% extends "base.html" %}
{% block title %} MonsterBob - Create Account{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<div class="google-form-container">
    <div class="column is-4 is-offset-4">
        <h3 class="google-title">Sign Up</h3>
        <div class="google-box">
            <form method="POST" action="/signup">
                <div class="google-field">
                    <div class="control">
                        {{ render_field(form.first_name, class="google-input") }}
                        {{ render_field(form.last_name, class="google-input") }}
                    </div>
                </div>
                <div class="google-field">
                    <div class="control">
                        {{ render_field(form.email, class="google-input") }}
                    </div>
                </div>
                <div class="google-field">
                    <div class="control">
                        {{ render_field(form.password, class="google-input") }}
                    </div>
                </div>
                <button type="submit" class="google-submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}