{% extends "base.html" %}
{% block title %} MonsterBob - Create Blog {% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<form method="post" action="" enctype="multipart/form-data">
    <div class="container">
        <h3 class="title">Create Blog Post</h3>
        <label>Create Blog Here</label>
        <div class="container">
            <br>
            <label for="name" class="label">Name</label>
            <br>
            <div class="control">
                <input type="text" name="name" id="name" placeholder="Enter blog title">
            </div>
        </div>

        <div class="container">
            <br>
            <label for="comment" class="label">Comment</label>
            <br>
            <div class="control">
                <input type="text" name="comment" id="comment" placeholder="Write your comment here">
            </div>
        </div>

        <div class="container">
            <br>
            <label for="image" class="label">Blog Image</label>
            <br>
            <div class="control">
                <input type="file" name="image" id="image">
            </div>
        </div>

        <button type="submit" value="submit" class="smbbtn">Submit</button>
    </div>
</form>

{% endblock %}
