{% extends "base.html" %}
{% block title %}MonsterBob - Create Project{% endblock %}
{% block content %}
<div class="form-container">
    <h3 class="title">Create Project</h3>
    <form method="POST" action="/createProject2">
        <div class="form-field">
            <label for="phone" class="label">Phone <span class="required">*</span></label>
            <input type="text" id="phone" name="phone" class="input" required>
        </div>

        <div class="form-field">
            <label for="address" class="label">Address <span class="required">*</span></label>
            <input type="text" id="address" name="address" class="input" required>
        </div>

        <div class="form-field">
            <label for="house_type" class="label">House Type <span class="required">*</span></label>
            <select id="house_type" name="house_type" class="input" required>
                <option value="">Select...</option>
                <option value="1-Room HDB">1-Room HDB</option>
                <option value="2-Room HDB">2-Room HDB</option>
                <option value="3-Room HDB">3-Room HDB</option>
                <option value="4-Room HDB">4-Room HDB</option>
                <option value="5-Room HDB">5-Room HDB</option>
            </select>
        </div>

        <div class="form-field">
            <label for="house_theme" class="label">House Theme <span class="required">*</span></label>
            <select id="house_theme" name="house_theme" class="input" required>
                <option value="">Select...</option>
                <option value="Scandinavian">Scandinavian</option>
                <option value="Luxury">Luxury</option>
                <option value="Modern-Luxury">Modern-Luxury</option>
                <option value="Traditional">Traditional</option>
                <option value="Contemporary">Contemporary</option>
                <option value="Farmhouse">Farmhouse</option>

            </select>
        </div>

        <div class="form-field">
            <label for="comments" class="label">Comments</label>
            <textarea id="comments" name="comments" class="textarea"></textarea>
        </div>

        <div class="form-field">
            <input type="submit" class="form-button" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
