{% extends "base.html" %}
{% block title %} MonsterBob - Create Blog {% endblock %}
{% block content %}
<form method="post" action="" enctype="multipart/form-data" class="form-container">
    <h3 class="title">Create Blog Post</h3>

    <div class="form-field">
        <label for="name" class="label">Name</label>
        <input type="text" name="name" id="name" class="input" placeholder="Enter blog title">
    </div>

    <div class="form-field">
        <label for="comment" class="label">Comment</label>
        <textarea name="comment" id="comment" class="textarea" placeholder="Write your comment here"></textarea>
    </div>

    <div class="form-field">
        <label for="image" class="label">Blog Image</label>
        <div class="file-input-container">
            <input type="file" name="image" id="image" class="file-input">
            <span class="file-input-label">Choose file...</span>
        </div>
    </div>


    <div class="form-field">
        <button type="submit" class="form-button">Submit</button>
    </div>
</form>
{% endblock %}
