{% extends "base.html" %}
{% block title %}MonsterBob - Home{% endblock %}

{% block content %}
<section id="homepagebody">
    <h1 id="title">Welcome to MonsterBob</h1>
    <br>
    <div>
        <h6 id="subtitle">Renovate your homes with the experts</h6>
    </div>
    <br>
    <section id="homepagebtn">
        <div>
            <button id="getstartedbtn">Get Started</button>
        </div>
        <br>
        <div>
            <button id="learnmorebtn">Learn More</button>
        </div>
    </section>

</section>
        <section id="footering">
        <div class="footer">
            <div class="waves">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
                <div class="col">
                    <ul class="social">
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-x-twitter"></i></li>
                        <li><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                    </ul>
                </div>
                <p> &copy; 2023 || All Rights Received by MonsterBob</p>
            </div>
    </section>
{% endblock %}


