{% extends "base.html" %}
{% block title %} MonsterBob - Login {% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<style>
    .flash-message-container {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    .flash-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .flash-error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .flash-info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: .75rem 1.25rem;
        color: inherit;
    }

</style>
<div class="container mt-5 login-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center mb-4">Login</h3>
            <div class="card p-4 login-card">
                <form method="POST" action="/login">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="flash-message-container flash-{{ messages[0][0] }}">
                        <!-- Assuming only one message at a time -->
                        {{ messages[0][1] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;
                        </button>
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="form-group mb-3">
                        {{ render_field(form.email, class="form-control", placeholder="Email") }}
                    </div>

                    <div class="form-group mb-3">
                        {{ render_field(form.password, class="form-control", placeholder="Password") }}
                    </div>
                    <div class="form-group form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="rememberMe" name="remember">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary login-btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}