{% extends "base.html" %}
{% block title %} MonsterBob - Create Account{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}


<form method="post" action="">
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            <form method="POST" action="">
                <div class="field">
                    <div class="control">

                    </div>
                </div>
                {{ render_field(form.email, class="form-control") }}
                <div class="field">
                    <div class="control">

                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ render_field(form.comment, class="form-control") }}
                        {{ render_field(form.stars, class="form-control") }}

                    </div>
                </div>

                <button type="submit" value="submit" class="smbbtn">Submit</button>
            </form>
        </div>
    </div>
</form>


<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Comment</th>
            <th>Stars</th>

            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users_list %}
        <tr>
            <td>{{ user.get_user_id() }}</td>
            <td>{{ user.email_get() }}</td>

            <td>{{ user.comment_get() }}</td>
            <td>{{ user.stars_get() }}</td>


            <td><a href="/updatecomment/{{user.get_user_id()}}" class="btn btn-warning">Update</a></td>

            <td>
                <form action="{{url_for('deleteComment', id=user.get_user_id())}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{user.get_user_id()}}">
                        Delete
                    </button>
                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{user.get_user_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete {{user.email_get()}} comment ?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}