{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<section>
    <h3 class="title">Retrieve Blog</h3>
    <div class="content">
        {% if count == 0 %}
        <p>There are no blogs.</p>
        {% elif count == 1 %}
        <p>There is 1 blog.</p>
        {% else %}
        <p>There are {{ count }} blogs.</p>
        {% endif %}
    </div>

    <div id="blogCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for batch in blog_list|batch(3) %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="card-group">
                    {% for blog in batch %}
                    <div class="card blog-card">
                        <img class="card-img-top" src="{{ blog.get_blog_image() }}" alt="Card image cap">

                    </div>
                    <div class="card-body">
                            <h5 class="card-title">{{ blog.get_name() }}</h5>
                            <p class="card-text">{{ blog.get_comment() }}</p>
                            <a href="#" class="btn btn-primary">View More</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#blogCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#blogCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</section>
{% endblock %}