{% extends "base.html" %}
{% block title %}Retrieve Project{% endblock %}
{% block content %}
<section class="airbnb-container mt-5">
    <h1 class="airbnb-title text-center mb-4">Retrieve Project</h1>
    <div class="table-responsive">
        <table class="table airbnb-table table-hover">
            <thead class="airbnb-thead">
            <tr>
                <th>Phone</th>
                <th>Address</th>
                <th>Home Type</th>
                <th>Home Theme</th>
                <th>Comments</th>
                <th>Progress</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
            <tr>
                <td>{{ project.get_phone() }}</td>
                <td>{{ project.get_address() }}</td>
                <td>{{ project.get_house_type() }}</td>
                <td>{{ project.get_house_theme() }}</td>
                <td>{{ project.get_comments() }}</td>
                <td>
                    <div id="timer-{{ project.get_owner_id() }}">Progress</div>
                    <div id="progress-bar-{{ project.get_owner_id() }}" class="progress-bar-custom">
                        <div id="progress-bar-text-{{ project.get_owner_id() }}" class="progress-bar-text">0%</div>
                    </div>
                </td>
                <td>
                    <a href="/projectReview/{{ project.get_owner_id() }}"
                       id="review-button-{{ project.get_owner_id() }}" class="btn btn-outline-primary"
                       style="display: none;">Review</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% for project in project_list %}
<div class="modal fade" id="myModal_{{ project.get_owner_id() }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this project?
            </div>
            <div class="modal-footer">
                <form action="{{url_for('delete_project', id=project.get_owner_id())}}" method="POST">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% for project in project_list %}
            (function() {
                var projectId = "{{ project.get_owner_id() }}";
                var totalTime = {{ project.get_duration() }};
                var remainingTimeKey = 'remainingTime' + projectId;
                var lastUpdatedKey = 'lastUpdated' + projectId;
                var remainingTime = localStorage.getItem(remainingTimeKey)
                    ? parseInt(localStorage.getItem(remainingTimeKey))
                    : {{ project.get_remaining_time() }};
                var lastUpdated = localStorage.getItem(lastUpdatedKey)
                    ? new Date(localStorage.getItem(lastUpdatedKey))
                    : new Date();

                function updateProgress() {
                    var currentDate = new Date();
                    if (currentDate - lastUpdated >= 86400000) { // 24 hours have passed
                        if (remainingTime > 0) {
                            remainingTime--;
                            localStorage.setItem(remainingTimeKey, remainingTime);
                        }
                        lastUpdated = currentDate;
                        localStorage.setItem(lastUpdatedKey, lastUpdated.toISOString());
                    }

                    var progressPercentage = (1 - (remainingTime / totalTime)) * 100;
                    var progressBar = $("#progress-bar-text-" + projectId);
                    progressBar.css('width', progressPercentage + '%');
                    progressBar.text(progressPercentage.toFixed(0) + '%'); // Update the text

                    // Update progress bar color based on progress
                    var color = progressPercentage < 50 ? 'red' :
                                progressPercentage < 75 ? 'yellow' : 'green';
                    progressBar.css('background-color', color);

                    // Update the timer text
                    $("#timer-" + projectId).text(remainingTime + ' days remaining');

                    // Hide update button and show review button if progress is 100%
                    if (progressPercentage >= 100) {
                        $("#update-button-" + projectId).hide();
                        $("#review-button-" + projectId).show();
                    }
                }

                // Immediately update the progress bar to reflect the current state
                updateProgress();

                // Update it every day
                setInterval(updateProgress, 86400000);
            })();
        {% endfor %}
    });

</script>
{% endblock %}
