{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<section class="container-fluid mt-5">
    <h1 class="display-4 text-center mb-4">Retrieve Users</h1>
    <div class="text-center mb-3">
        {% if count == 0 %}
            <p>There are no customers.</p>
        {% elif count == 1 %}
            <p>There is 1 customer.</p>
        {% else %}
            <p>There are {{ count }} customers.</p>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in Customer_list %}
                <tr>
                    <td>{{ customer.get_customer_id() }}</td>
                    <td>{{ customer.get_first_name() }}</td>
                    <td>{{ customer.get_last_name() }}</td>
                    <td>{{ customer.get_email() }}</td>
                    <td><a href="/updateCustomer/{{customer.get_email()}}" class="btn btn-outline-warning">Update</a></td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_customer_id()}}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- Modals for each customer for delete confirmation -->
{% for customer in Customer_list %}
<div class="modal fade" id="myModal_{{customer.get_customer_id()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{customer.get_first_name()}} {{customer.get_last_name()}}?
            </div>
            <div class="modal-footer">
                <form action="{{url_for('deleteCustomer', email=customer.get_email())}}" method="POST">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
