{% extends "base.html" %}
{% block title %}MonsterBob - Update Staff{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="py-5">
                <h1 class="display-4 text-center mb-4">Update Staff</h1>
                <form method="POST" action="">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        {{ render_field(form.name, class="form-control", placeholder="Enter name",
                        aria-describedby="nameHelp") }}
                        <div id="nameHelp" class="form-text">Enter the staff member's name.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        {{ render_field(form.phonenumber, class="form-control", placeholder="Enter phone number",
                        aria-describedby="phoneHelp") }}
                        <div id="phoneHelp" class="form-text">Enter the staff member's phone number.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ render_field(form.email, class="form-control", placeholder="Enter email",
                        aria-describedby="emailHelp") }}
                        <div id="emailHelp" class="form-text">Enter the staff member's email address.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        {{ render_field(form.address, class="form-control", placeholder="Enter address",
                        aria-describedby="addressHelp") }}
                        <div id="addressHelp" class="form-text">Enter the staff member's address.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        {{ render_field(form.password, class="form-control", placeholder="Enter new password",
                        aria-describedby="passwordHelp") }}
                        <div id="passwordHelp" class="form-text">Enter a new password for the staff member.</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
