{% extends "base.html" %}
{% block title %}MonsterBob - Update User{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="py-5">
                <h1 class="display-4 text-center mb-4">Update Customers</h1>
                <form method="POST" action="">
                    <div class="mb-3">
                         <div class="form-group">
                        <label class="form-label">Address</label>
                        {{ render_field(form.address, class="airbnb-input") }}

                    </div>

                    </div>

                    <div class="mb-3">
                         <div class="form-group">
                        <label class="form-label">Phone</label>
                        {{ render_field(form.phone, class="airbnb-input") }}

                    </div>
                    </div>
                     <div class="mb-3">
                         <div class="form-group">
                        <label class="form-label">house_type</label>
                        {{ render_field(form.house_type, class="airbnb-input") }}

                    </div>
                    </div>
                     <div class="mb-3">
                         <div class="form-group">
                        <label class="form-label">house_theme</label>
                        {{ render_field(form.house_theme, class="airbnb-input") }}

                    </div>
                    </div>
                     <div class="mb-3">
                         <div class="form-group">
                        <label class="form-label">comments</label>
                        {{ render_field(form.comments, class="airbnb-input") }}

                    </div>
                    </div>
                     <div class="mb-3">
                         <div class="form-group">
                        <label class="form-label">status</label>
                        {{ render_field(form.status, class="airbnb-input") }}

                    </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}